@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "variable";
    src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
  }

  @font-face {
    font-family: "general";
    src: url("/fonts/65e1e8fb42624b88456ad7aa_q5uCsoe9Lv5t7Meb31EcExN8hK5SAMo.woff2") format("woff2");
  }

  @font-face {
    font-family: "yoyo";
    src: url("/fonts/TK3iWkUHHAIjg752GT8G.woff2") format("woff2");
  }

  @font-face {
    font-family: "neue";
    src: url("/fonts/NeueMontreal-Regular.6a837091.woff2") format("woff2");
  }
}
